
body{
    margin: auto;
    width: 100vw;
    height: 100vh; 
    background-color: black;
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    position: relative;
    
}

.images{
    width: 310px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 30px;
    background-position: -16px;
    margin: 0; 
    background-color: white;
    border: 5px grey solid; 
}

.contenair{
    display: flex;
    justify-content: space-around;
}

.titre{
    text-align: center;
    border: 3px white solid;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 30%;
    margin-top: 100px;
}

h2{
    text-align: center;
    vertical-align: middle;
    font-size: 60px;
    display: inline;
    margin: 0;  
    letter-spacing: 2px;
}

.happy{
    margin-left: 20px;
    vertical-align: middle;  
}

.texte{
    margin-top: 70px;
    margin-bottom: 50px;
     
    
}

.regle{
    margin: auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px; 
    width: 50%;  
}


.reponse{
    justify-content: center;
    height: 40%;
    font-size: 60px;
    padding-top: 80px;
}

.divCpt{
    display: flex;
    display: none;
    
}  
.align{
    text-align: center;
}
/*.compteur{
    width: 40px;
    height: 40px;
    /*color: white;*/
    
  

#clavier{
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 0;
}

#resultat{
    margin: auto;
    text-align: center;
    font-size: 60px; 
    margin-bottom: 50px;
}

#motAtrouver{
    margin: auto;
    font-size: 30px;
    text-align: center;
}

p{
    margin: auto;
    font-size: 30px;
    
}

.gagner{
    font-size: 60px;
}
a{
    text-decoration: none;
    font-size: 40px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid gray;
    background-color: white;
    width: 132px;
    display: block;
    margin: auto;
    margin-bottom: 80px;
}

a:hover{
    cursor: crosshair;
}

.cacher{
    display: none;

}

.lettre:hover{
    cursor: pointer;
    
}

.boite{
    background-color: white;
    height: 30px;
    color: black;
    width: 70px;
    font-family:  'Love Ya Like A Sister', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: bold; 
}

.s{
   
}


/*media queries ordi */
@media screen and (min-width: 993px) and (max-width: 1200px) and (orientation: landscape){




































}
/* tablettes */
@media screen and (min-width: 768px) and (max-width: 992px){





















}






/* portables paysage */
@media screen and (min-width: 544px) and (max-width: 767px) and (orientation: landscape){





















}


/*  portable portrait */
@media screen and (min-width: 330px) and (max-width: 480px) and (orientation: landscape){


























}