
body{
    margin: auto;
    /*width: 100vw;*/
    /*height: 100vh; */
    width: 100%;
    background-color: black;
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    position: relative;
    
}

.images{
    width: 310px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 30px;
    background-position: -16px;
    margin: 0; 
    background-color: white;
    border: 5px grey solid; 
}

.contenair{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.titre{
    text-align: center;
    border: 3px white solid;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 30%;
    margin-top: 100px;
}

h2{
    text-align: center;
    vertical-align: middle;
    font-size: 60px;
    display: inline;
    margin: 0;  
    letter-spacing: 2px;
}

.happy{
    margin-left: 20px;
    vertical-align: middle;  
}

.texte{
    margin-top: 70px;
    margin-bottom: 50px;
     
    
}

.regle{
    margin: auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px; 
    width: 50%;  
}


.reponse{
    justify-content: center;
    height: 40%;
    font-size: 60px;
    padding-top: 80px;
}

.divCpt{
    display: flex;
    display: none;
    
}  
.align{
    text-align: center;
}
/*.compteur{
    width: 40px;
    height: 40px;
    /*color: white;*/
    
  

#clavier{
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 0;
}

#resultat{
    margin: auto;
    text-align: center;
    font-size: 60px; 
    margin-bottom: 50px;
}

#motAtrouver{
    margin: auto;
    font-size: 30px;
    text-align: center;
}

p{
    margin: auto;
    font-size: 30px;
    
}

.gagner{
    font-size: 60px;
}
a{
    text-decoration: none;
    font-size: 40px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid gray;
    background-color: white;
    width: 132px;
    display: block;
    margin: auto;
    margin-bottom: 80px;
}

a:hover{
    cursor: crosshair;
}

.cacher{
    display: none;

}

.lettre:hover{
    cursor: pointer;
    
}

.boite{
    background-color: white;
    height: auto;
    color: black;
    width: 45px;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: bold; 
    border: 1px solid gray;
    
}

.s{
   
}

/*--------------------------------------- MEDIA QUERRIES-------------------------------------------- */
/* IPAD PRO /  IPAD */


/* PETITS ORDIS */


@media screen and (min-width: 700px) and (max-width: 2000px){

.titre{
    width: 50%;
    margin-top: 50px;
    }

h2{
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    display: inline;
    margin: 0;  
    letter-spacing: 2px;
}

    .regle{
        font-size: 20px;
        padding-bottom: 10px;
    }


    .images .p{
        width: 206px;
        height: 225px;
    }

    .images{
        width: 206px;
        height: 215px;
        padding-bottom: 18px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

 p{
    margin-bottom: 10px;
    font-size: 20px;
     
    }

    
    .boite{
        font-size: 20px;
    }

    #clavier{
        font-size: 40px;
    }



.contenair {
    display: flex;
    /*flex-direction: column;*/
    text-align: center;
    padding-top: 50px;
    }


.reponse {
    /*display: flex;*/
    margin: auto;
    position: absolute;
    text-align: center;
    top: 190px;
    padding-top: 100px;
   
    }

.align{
       padding-top: 50px;
    }

    .perdu{
        padding-top: 30px;
    }

    #resultat{
        font-size: 40px;
    }

    a{
        font-size: 20px;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
    }

    .contClavier{
        padding-top: 20px;
    }
    #solut{
        letter-spacing: 2px;
    }

}




/* portables paysage */

@media screen and (min-width: 543px) and (max-width: 767px){

    .titre{
        width: 80%;
    }

    h2{
        font-size: 40px;
    }

    .regle{
        font-size: 16px;
        width: inherit;
    }


.contenair {
    display: flex;
    text-align: center;
    padding-top: 50px;
    }

.reponse {
    
    margin: auto;
    position: absolute;
    text-align: center;
    top: 150px;
    padding-top: 75px;
   
    }

 .images .p{
        width: 200px;
        height: 210px;
    }

.images{
        width: 206px;
        height: 200px;
        padding-bottom: 18px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

.boite{
        font-size: 20px;
    }

#clavier{
        font-size: 30px;
        padding-top: 30px;
}

p{
        font-size: 20px;
}

p + .regle:last-child{
        padding-bottom: 30px;
    }
    
#resultat{
        font-size: 20px;
        margin-bottom: 20px;
}

a{
        font-size: 20px;
        margin: auto;
        text-align: center;
        margin-bottom: 50px; 
}

.perdu{
    padding-top: 20px;
}

#solut{
    letter-spacing: 2px;
}
}
/* PORTABLE */
@media screen and (max-width: 543px){


   .titre{
       width: 80%;
       margin: auto;
       margin-top: 25px;
    }

    h2{
        font-size: 21px;
    }
    .happy{
        margin-right: 8px;
        width: 40px;
        height: 44px;
        margin: 0;
    }
    .regle{
        font-size: 15px;
        width: inherit;
    }

    .texte{
        margin-top: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    
    .contenair {
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    }

    .reponse {
    
    margin: 0;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    padding-top: 0px;
    }

    .images .p{
        width: 200px;
        height: 210px;
    }

    .align{
        font-size: 15px;
    }
    
    .images{
        width: 206px;
        height: 200px;
        padding-bottom: 18px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
    }

    .boite{
        font-size: 20px;
        width: 20px;
        text-align: center;
    }

    #clavier{
        font-size: 30px;
        padding-top: 30px;
        margin: auto;
}

    p{
        font-size: 15px;
}

    p + .regle:last-child{
        padding-bottom: 30px;
    }
    
    #resultat{
        font-size: 20px;
        margin-bottom: 20px;
}

    a{
        font-size: 20px;
        margin: auto;
        text-align: center;
        margin-bottom: 50px; 
}

    .perdu{
    padding-top: 20px;
}
    .gagner{
        font-size: 40px;
    }
    
    #solut{
        letter-spacing: 2px;
    }
}