
body{
    margin: auto;
    width: 100vw;
    height: 100vh; 
    background-color: black;
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    
}

.titre{
    text-align: center;
    border: 3px white solid;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 30%;
    margin-top: 100px;
}

h2{
    text-align: center;
    vertical-align: middle;
    font-size: 60px;
    display: inline;
    margin: 0;  
    letter-spacing: 2px;
}

.happy{
    margin-left: 20px;
    vertical-align: middle;  
}

.texte{
    margin-top: 70px;
    margin-bottom: 50px;
    
}

.regle{
    margin: auto;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;   
}

.images{
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

/*.cacher{
    visibility: hidden;
}*/


.reponse{
    justify-content: center;
    display: flex;
    font-size: 60px;
}

input{
    width: 30%;
    height: 40px;
    border: 1px solid white;
    background-color: black;
    display: flex;
}

.contClavier{
    
}
#clavier{
    display: flex;
    justify-content: flex-end;
    font-size: 60px;
    margin-right: 300px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 0;
}

#resultat{
    margin: auto;
    text-align: center;
    font-size: 30px;
}

a{
    
    text-decoration: none;
    font-size: 40px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid gray;
    background-color: white;
    width: 5%;
    display: block;
    margin: auto;
}

a:hover{
    cursor: crosshair;
}